html, body {
	margin: 0;
	padding: 0;
}

html {
  background:  url(https://photos-6.dropbox.com/t/2/AACe0hV10MMlcGFMG_6Mg8YwsmGkGDHuIqxrmgdqvAgDcw/12/9530875/jpeg/32x32/1/_/1/2/IMAG0633.jpg/ENmljQcY8IkBIAcoBw/Q2EfQg2DwAVbVbFbi4szjhlO8ZrbiezUR_EgByxBEog?size=1280x960&size_mode=2) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.header {

}

.nav {

}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}

ul li {
display: inline;
}

.background {

}
